body {
  width: 100vw;
  height: auto;
  position: relative;
  margin: -4px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  width: 110vw;
  height: 4em;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.885),
    rgba(22, 72, 133, 0.663)
  );
}

nav div h1 {
  height: auto;
  color: white;
  font-size: 1.7rem;
  font-family: "damion", cursive;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  margin-left: 16vw;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
  list-style: none;
}

.logo-container {
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  height: 100%;
}

article {
  display: flex;
  z-index: 2;
  width: 110vw;
  height: 100vh;
  background: linear-gradient(
    to left,
    rgb(0, 0, 0, 0.1),
    rgba(22, 72, 133, 0.8)
  );
}

.logo {
  width: 50px;
  height: auto;
  color: white;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110vw;
  height: 110vh;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  height: 100vh;
  margin-left: 80px;
  margin-top: 30px;
}

.content h1 {
  font-size: 3.8rem;
  line-height: 4rem;
  font-weight: 800;
  font-family: "montserrat", sans-serif;
  color: white;
  width: auto;
  margin-bottom: 0px;
}

.content h3 {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  height: auto;
  margin-left: 5px;
}

.content h3 span {
  font-weight: 600;
}

.content .team {
  justify-content: space-between;
  display: flex;
  color: white;
  font-family: "poppins", sans-serif;
  width: 80vw;
  height: auto;
  text-align: justify;
}

.content .team h2 {
  font-size: 3rem;
  font-family: "popins", sans-serif;
  font-weight: 800;
  width: 10rem;
  line-height: 50px;
}

.content .team .team-member {
  display: flex;
  padding: 0px 30px;
  margin: 0px 0px;
  border-radius: 10px;
  align-items: center;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.404);
}

.content .team .team-member div {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 20px;
  line-height: 0%;
  font-size: 12px;
}

.content .team .team-member div h4 {
  font-size: 20px;
  margin-bottom: 0.7em;
}

.content .team .team-member div .tag {
  background-color: rgb(22, 72, 133);
  border-radius: 10px;
  border: solid white 1px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  font-size: 13px;
  text-align: center;
  height: 20px;
  font-weight: 500;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3vw;
  height: 100vh;
  margin: 0px 5px;
}

aside div.line {
  width: 1px;
  height: 30vh;
  background-color: white;
  margin: 90px 0px;
}

aside div.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3vw;
  height: 30vh;
}

aside svg {
  width: 30px;
  fill: white;
}

.form-container form {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 120px;
  margin-left: 200px;
  width: 40vw;
  height: 50vh;
  padding: 20px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  color: white;
}

.form-container form label {
  font-size: 1rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  color: white;
  margin: 5px 0px;
  width: 40vw;
}

.form-container form textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background: none;
  border: 1px solid white;
  font-size: 0.8rem;
  color: white;
  outline: none;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  margin-bottom: 15px;
}

.form-container form input {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  background: none;
  border: 1px solid white;
  font-size: 0.8rem;
  color: white;
  outline: none;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

.form-container form button {
  height: 40px;
  background-color: rgb(51, 133, 234);
  border: none;
  color: white;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
